name: Build Documentation website
on:
  push:
    branches: [master]
permissions:
  contents: write
jobs:
  docs:
    name: Generate Website
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
            python-version: '3.9'

      - name: Install freeglut
        run: sudo apt-get install -y freeglut3-dev

      - name: No window
        run: export DISPLAY=localhost:0.0

      - name: Install dependencies
        run: pip install -r docs/requirements.txt

      - name: Install Miniworld
        run: pip install .

      - name: Generate Environments page
        run: python docs/_scripts/gen_docs_page.py

      - name: Build
        run: sphinx-build -b dirhtml -v docs _build

      - name: Move 404
        run: mv _build/404/index.html _build/404.html

      - name: Update 404 links
        run: python docs/_scripts/move_404.py _build/404.html

      - name: Remove .doctrees
        run: rm -r _build/.doctrees

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _build